<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/cv_modern.css">
    <title>{{ basic_data.name }} {{ basic_data.lastname }}- CV</title>
</head>

<body>
    <div class="cv-document">
        <aside class="sidebar">
            <div class="sidebar__decoration-triangle"></div>

            <section class="hero">
                <img class="hero__image" src="static/imgs/hero.jpg" alt="business portrait">
            </section>

            <section class="section section--sidebar">
                <h2 class="section__title section__title--sidebar">
                    <img class="icon icon--big"
                        src="static/icons/Person-Fill--Streamline-Rounded-Fill-Material-Symbols.svg"
                        alt="icon contact">Kontakt
                </h2>
                <ul class="contact-list">
                    <li class="contact-list__item">
                        <img class="icon icon--small"
                            src="static/icons/Near-Me-Fill--Streamline-Sharp-Fill-Streamline-Material-Free.svg"
                            alt="icon location">{{ basic_data.city }}
                    </li>
                    <li class="contact-list__item">
                        <img class="icon icon--small"
                            src="static/icons/Call-Fill--Streamline-Rounded-Fill-Material-Symbols.svg"
                            alt="icon phone">{{ basic_data.phone }}
                    </li>
                    <li class="contact-list__item">
                        <img class="icon icon--small"
                            src="static/icons/Send-Alt-Fill--Streamline-Sharp-Fill-Streamline-Material-Free.svg"
                            alt="icon send letter">{{ basic_data.e_mail }}
                    </li>
                    <li class="contact-list__item">
                        <a href="{{ basic_data.github }}" class="contact-list__link">
                            <img class="icon icon--small"
                                src="static/icons/Logo-Github-Fill--Streamline-Sharp-Fill-Streamline-Material-Free.svg"
                                alt="icon github">GitHub
                        </a>
                    </li>
                    <li class="contact-list__item">
                        <a href="{{ basic_data.linkdin }}">
                            <img class="icon icon--small" src="static/icons/Linkedin-Logo--Streamline-Radix.svg"
                                alt="icon linkedin">LinkedIn
                        </a>
                    </li>
                </ul>
            </section>

            <section class="section section--sidebar">
                <h2 class="section__title section__title--sidebar">
                    <img class="icon icon--big"
                        src="static/icons/School-Fill--Streamline-Rounded-Fill-Material-Symbols.svg"
                        alt="icon education">Edukacja
                </h2>
                <div class="timeline">
                    <div class="timeline__item flex_col">
                        <div class="timeline__title">{{ basic_data.education.name }}</div>
                        <div class="timeline__date">{{ basic_data.education.time }}</div>
                        <div class="timeline__desc">{{ basic_data.education.direction }} {{ basic_data.education.specialization }}</div>
                    </div>
                </div>
            </section>

            <section class="section section--sidebar">
                <h2 class="section__title section__title--sidebar">
                    <img class="icon icon--big"
                        src="static/icons/Person-Celebrate-Fill--Streamline-Sharp-Fill-Streamline-Material-Free.svg"
                        alt="icon hobby">Zainteresowania
                </h2>
                <ul class="contact-list">
                    {% for hobby in hobbies %}
                    <li class="contact-list__item">{{ hobby }}</li>
                    {% endfor %}
                </ul>
            </section>
        </aside>

        <main class="content">
            <div class="content__decoration-triangle"></div>

            <header class="header">
                <h1 class="header__name">{{ basic_data.name }} {{ basic_data.lastname }}</h1>
                <div class="header__job-title">{{ basic_data.role }}</div>
            </header>

            <section class="section">
                <h2 class="section__title">
                    <img class="icon icon--dark" src="static/icons/Award-Ribbon-Star-1--Streamline-Ultimate.svg"
                        alt="icon of summary">Podsumowanie zawodowe
                </h2>
                <p class="section__text">{{ summary }}</p>
            </section>

            <section class="section">
                <h2 class="section__title">
                    <img class="icon icon--dark"
                        src="static/icons/Business-Center-Fill--Streamline-Rounded-Fill-Material-Symbols.svg"
                        alt="">Doświadczenie zawodowe
                </h2>
                {% for experience in experiences %}
                <div class="experience">
                    <div class="experience__header">
                        <span class="experience__title">{{ experience.name }} {{ experience.company}}</span>
                        <span class="experience__date">{{ experience.time }}</span>
                    </div>
                    <p class="section__text">{{ experience.description }}</p>
                </div>
                {% endfor %}
            </section>

            <section class="section">
                <h2 class="section__title">
                    <img class="icon icon--dark" src="static/icons/Skill-Level-Advanced--Streamline-Carbon.svg"
                        alt="icon skills">Umiejętności
                </h2>
                <div class="skills">
                    {% for skill in skills %}
                    <div class="skills__tag">{{ skill }}</div>
                    {% endfor %}
                </div>
            </section>

            <footer class="rodo">
                Wyrażam zgodę na przetwarzanie moich danych osobowych...
            </footer>
        </main>
    </div>
</body>

</html>